id: 'silent-DemoPBlbt'
inputs: []
name: silent-DemoPBlbt
outputs: []
quiet: true
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d6df1e37-a642-49b4-8d58-013007194b00
      iscommand: false
      name: ""
      version: -1
      description: ''
    taskid: d6df1e37-a642-49b4-8d58-013007194b00
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af44edcc-8b62-4952-9497-0c868263b155
      iscommand: false
      name: Untitled Task
      script: lbt_vs_demo
      type: regular
      version: -1
    taskid: af44edcc-8b62-4952-9497-0c868263b155
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 210
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 235,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
tests:
- No tests (auto formatted)
issilent: true
fromversion: 8.9.0
description: 'teeeest'
